div{
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 50px;
    margin-left: 550px;
}
.box{
    width: 458px;
    height: 400px;
    background-color: #FF0000;
   font-size: 50px;
   color: white;
   align-items: center;
}
.container{
    display: flex;
    justify-content: space-around;
}
.container2{
    margin-top: 80px;
}